<div class="row">
  <div class="small-12 columns">
    <div class="small-12 medium-6 large-6 columns">
      {{#if message}}
        {{message}}
      {{/if}}
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <div class="small-12 medium-6 large-6 columns">
      <h3>Account</h3>
    </div>
    <div class="small-12 medium-6 large-6 columns">
      <form action="/account" method="post">
        <p>Username: {{user.username}}</p>
        <p>Email: {{user.email}}</p>
        <input class="button" type="submit" value="Edit"/>
      </form>
    </div>
    <div class="small-12 medium-6 large-6 columns">
      <h3>Evernote configuration</h3>
    </div>
    <div class="small-12 medium-6 large-6 columns">
      {{#if user.evernoteToken}}
        <form action="/account/config" method="post">
          <label for="evernoteTodoNotebook">ToDo Notebook</label>
          <select name="evernoteTodoNotebook">
          {{#each notebooks}}
            {{#compare ../user.evernoteTodoNotebook "==" this.guid}}
              <option value="{{this.guid}}" selected>{{this.name}}</option>
            {{else}}
              <option value="{{this.guid}}">{{this.name}}</option>
            {{/compare}}
          {{/each}}
          </select>
          <label for="evernoteInProgressNotebook">In Progress Notebook</label>
          <select name="evernoteInProgressNotebook">
          {{#each notebooks}}
            {{#compare ../user.evernoteInProgressNotebook "==" this.guid}}
              <option value="{{this.guid}}" selected>{{this.name}}</option>
            {{else}}
              <option value="{{this.guid}}">{{this.name}}</option>
            {{/compare}}
          {{/each}}
          </select>
          <label for="evernoteTestNotebook">Test Notebook</label>
          <select name="evernoteTestNotebook">
          {{#each notebooks}}
            {{#compare ../user.evernoteTestNotebook "==" this.guid}}
              <option value="{{this.guid}}" selected>{{this.name}}</option>
            {{else}}
              <option value="{{this.guid}}">{{this.name}}</option>
            {{/compare}}
          {{/each}}
          </select>
          <label for="evernoteDoneNotebook">Done Notebook</label>
          <select name="evernoteDoneNotebook">
          {{#each notebooks}}
            {{#compare ../user.evernoteDoneNotebook "==" this.guid}}
              <option value="{{this.guid}}" selected>{{this.name}}</option>
            {{else}}
              <option value="{{this.guid}}">{{this.name}}</option>
            {{/compare}}
          {{/each}}
          </select>
          <input class="button" type="submit" value="Save"/>
        </form>
      {{else}}
        <a href="/auth/evernote" class="button">Connect with Evernote.</a>
      {{/if}}
    </div>
    <div class="small-12 medium-6 large-6 columns">
      <h3>Danger area</h3>
    </div>
    <div class="small-12 medium-6 large-6 columns">
      <p>You can permanently delete your account here. Warning: This can't be undone!</p>
      <form action="/account/delete" method="post">
        <input class="button" type="submit" value="Delete Account"/>
      </form>
    </div>
  </div>
</div>