<div class="container">
  <div class="col-xs-12 note-board">
    {{#if user}}
      {{#if board}}
        {{#each board}}
          <div class="col-xs-12 col-sm-3 note-column" data-guid="{{this.guid}}">
            <h3>{{this.title}}</h3>
            <div class="note-column-inner">
              {{#each this.content}}
                <div class="note" data-guid="{{this.guid}}" draggable="true">
                  <h4 class="subheader">{{this.title}}</h4>
                  {{#if tags }}
                    <small>Tags: {{this.tags}}</small>
                  {{/if}}
                  <p>{{this.content}}</p>
                </div>
              {{/each}}
            </div>
          </div>
        {{/each}}
      {{else}}
        <p>You have to connect your Evernote-Account to use flowd. Please edit your <a href="/account">account</a> settings!</p>
      {{/if}}
    {{else}}
      <p>Please <a href="/login">Login</a> or <a href="/signup">Signup</a> to use flowd.</p>
    {{/if}}
  </div>
</div>