<div class="row">
  <div class="small-12 columns note-board">
    {{#if user}}
      {{#if board}}
        {{#each board}}
          <div class="small-12 medium-3 large-3 columns note-column">
            <h3>{{this.title}}</h3>
            <div class="note-column-inner">
              {{#each this.content}}
                <div class="small-12 note" data-id="{{this.guid}}" draggable="true">
                  <h4 class="subheader">{{this.title}}</h4>
                  <small>{{this.tags}}</small>
                  <p>{{this.content}}</p>
                </div>
              {{/each}}
            </div>
          </div>
        {{/each}}
      {{else}}
        <p>You have to connect your Evernote-Account to use flowd. Please edit your <a href="/account">account</a> settings!</p>
      {{/if}}
    {{else}}
      <p>Please <a href="/login">Login</a> or <a href="/signup">Signup</a> to use flowd.</p>
    {{/if}}
  </div>
</div>