<div class="container">
  {{#if user}}
    {{#if board}}
      <div class="col-xs-12 board">
        {{#each board}}
          <div class="col-xs-12 col-sm-3 board-column" data-guid="{{this.guid}}">
            <h3>{{this.title}}<span class="badge pull-right">21</span></h3>
            <div class="board-column-inner">
              {{#each this.content}}
                <div class="note" data-guid="{{this.guid}}" draggable="true">
                  <div class="note-actions"><i class="synced fa fa-check-circle hidden"></i><a href="/note/{{this.guid}}" data-toggle="modal" data-target="#modalNote"><i class="fa fa-pencil"></i></a><a href="#" class="bookmark"><i class="bookmark fa fa-bookmark"></i></a><a href="/mail/{{this.guid}}" data-toggle="modal" data-target="#modalNote"><i class="fa fa-envelope"></i></a></div>
                  <h4>{{this.title}}</h4>
                  {{#if tags }}
                    <p><small>{{this.tags}}</small></p>
                  {{/if}}
                  <p>{{this.content}}</p>
                </div>
              {{/each}}
            </div>
          </div>
        {{/each}}
      </div>
    {{else}}
      <p class="text-center">You have to connect your Evernote-Account to use flowd. Please edit your <a href="/account">account</a> settings!</p>
    {{/if}}
  {{else}}
    <section>
      <h1>Scrum driven task management for Evernote</h1>
      <p>Please <strong><a href="/login">Login</a></strong> or <strong><a href="/signup">Signup</a></strong> to use flowd.</p>
    </section>
    <section class="remark">
      <h3>Remark:</h3>
      <p><strong>flowd</strong> is under development running on the <a href="http://sandbox.evernote.com" >Evernote Sandbox</a> and not ready for production yet.</p>
      <p>If you just want to have a look on the application, feel free to use the demo-account</p>
      <ul class="list-unstyled">
        <li>Login: <strong>qwer</strong></li>
        <li>Password: <strong>qwer</strong></li>
      </ul>
      <p></p>
    </section>

  {{/if}}
  </div>
</div>

<div class="modal fade" id="modalNote" tabindex="-1" role="dialog" aria-labelledby="modalNoteLabel" aria-hidden="true"></div>