<div class="container">
  <div class="col-xs-12">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <div class="text-center">
      {{#if message}}
        <p>{{message}}</p>
      {{/if}}
    </div>
    <h3>Sign up</h3>
    <form role="form" action="/signup" method="post">
      <div class="form-group">
        <label for="username">User:</label>
        <input class="form-control" id="username" type="text" name="username" placeholder="{{#if username}}{{username}}{{else}}Type in username{{/if}}" />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control" id="email" type="email" name="email" placeholder="{{#if email}}{{email}}{{else}}Type in email{{/if}}" />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" id="password" type="password" name="password" placeholder="Type in password" />
      </div>
      <div class="form-group">
        <label for="password">Confirm Password:</label>
        <input class="form-control" id="confirm" type="password" name="confirm" placeholder="Confirm password" />
      </div>
      <div class="form-group">
        <input class="btn btn-default" type="submit" value="Create account"/>
      </div>
    </form>
  </div>
</div>